* {
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.container {
  width: 70%;
  margin: 0 auto;
  /* text-align: center; */
}

.background {
  background-image: url(../img/Maskgroup.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  /* height: 900px; */
  color: white;
}

.header {
  display: flex;
  /* background-color: red; */
  /* height: 50px; */
  /* width: 70%; */
  margin: 0 auto;
  /* justify-content: center; */
  /* align-self: baseline; */
  margin-bottom: 100px;
}

.header-item {}

.nav {
  display: flex;
  height: 5%;
  padding-top: 68px;
}

.nav-item {
  margin: 0 20px 0 0;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
}

.nav-item a {
  color: white;
}

.nav-item:hover {
  border-bottom: 1px solid #FFFFFF;
}

.basket {
  display: flex;
  padding-top: 68px;
}

.basket::after {
  content: url(../img/Vector1.png);
  position: relative;
  top: -1px;
  left: 3px;
}

.elipse {
  position: relative;
  top: -10px;
  left: 23px;
}

.basket-img {
  position: relative;
  top: -17px;
  right: 12px;
}

.description {
  width: 45%;
}

.description-header {
  font-weight: 800;
  font-size: 73px;
  line-height: 74px;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.description-paragraph {
  font-weight: 400;
  font-size: 21px;
  line-height: 26px;
  text-transform: capitalize;
  margin-bottom: 60px;
}

.description-btn-1 {
  color: black;
  padding: 30px;
  background-color: #C98D5A;
  border-radius: 56px;
  border: none;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  margin-bottom: 309px;
}

.description-btn-1:hover {
  background-color: #f77e14;
  text-decoration: underline;
}

.second-block {
  color: black;
  padding: 30px 0 60px;
}

.second-block-header {
  color: black;
  text-align: center;
  font-weight: 800;
  font-size: 60px;
  line-height: 74px;
  text-transform: uppercase;
}

.second-block-header::after {
  content: url(../img/Group7.png);
  display: block;
}

.second-block-technologies {
  display: flex;
  justify-content: space-evenly;
}

.second-block-technologies-item {
  /* background-color: rebeccapurple; */
  margin: 10px;
  width: 216px;
}

.second-block-technologies-item-img {
  border-bottom: 3px solid #767676;
  padding: 22px;
  text-align: center;
}

.second-block-technologies-item-description {
  font-weight: 400;
  font-size: 19px;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
}

.third-block {
  background-color: black;
  padding: 53px 0 100px;
  color: white;
}

.third-block-description {
  font-weight: 800;
  font-size: 60px;
  line-height: 74px;
  text-align: center;
  margin-bottom: 67px;
}

.third-block-nav {
  display: flex;
  justify-content: center
}

.third-block-nav-item {
  border: 1px solid white;
  padding: 15px 45px;
  border-radius: 44px;
  margin: 0 5px;
  transition: all .3s;
}

.third-block-nav-item:hover {
  color: black;
  background-color: #f77e14;
  border: 1px solid black;
}

.third-block-catalog {
  display: flex;
  padding: 0 100px;
  /* align-items: baseline; */
}

.third-block-catalog-item {
  padding: 26px 37px;
  background: #1F1F1F;
  box-shadow: 6px 6px 4px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
  text-align: center;
  margin: 30px;
  width: 307px;
}

.third-block-catalog-item-header {
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  text-transform: capitalize;
}

.third-block-catalog-item-paragraph {
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  text-transform: capitalize;
}

.third-block-catalog-item-footer {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
  align-items: baseline;
}

.third-block-catalog-item-footer-weight {
  padding: 9px 6px;
  background-color: #f77e14;
  color: black;
}

.aboutUs {
  padding: 45px 0 60px;
}

.aboutUs-header {
  font-weight: 800;
  font-size: 60px;
  line-height: 74px;
  text-transform: uppercase;
  text-align: center;
  margin: 0 100px 0 0;
}

.aboutUs-header::after {
  content: url(../img/Group7.png);
  display: block;
}


.aboutUs-paragraph {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  margin: 0 0 20px 0;
}

.conclusion {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  text-align: right;
}

.footer {
  background-color: black;
  padding: 60px 0 20px;
  color: white;
}

.footer-header {
  text-align: center;
  font-weight: 800;
  font-size: 60px;
  line-height: 74px;
}

.footer-galery {
  padding: 64px 30px;
  /* background-color: red; */
  display: grid;
  /* grid-template-columns: 300px 300px 300px; */
  grid-template-columns: repeat(3, 1fr);
  /* grid-template-rows: repeat(5, 81px); */
  grid-template-rows: repeat(5, 1fr);
  /* height: 1000px; */
  /* grid-gap: 45px; */
  width: 80%;
  margin: 0 auto;
}

.footer-galery-item {
  /* width: 100px; */
  /* height: 100px; */
  margin: 13px 20px;
}

.first {
  grid-column: 1;
  /* background-color: red; */
  grid-row: 1 / span 2;
  /* margin-bottom: 145px; */
  /* width: 300px;
  height: 165px; */
}

.second {
  grid-column: 2;
  grid-row: 1/ span 5;
  /* background-color: yellow; */
  /* width: 300px;
  height: 435px; */
}

.third {
  grid-column: 3;
  grid-row: 1 / span 3;
  /* background-color: blue; */
  /* width: 300px;
  height: 260px;*/
}

.forth {
  grid-column: 1;
  grid-row: 3 / span 3;
  /* background-color: navy; */
  /* width: 300px;
  height: 240px; */
}

.fifth {
  grid-column: 3;
  grid-row: 4/ span 2;
  /* background-color: lawngreen; */
  /* width: 300px;
  height: 145px; */
}

.footer-end {
  display: flex;
  align-items: center;
  padding: 0 215px;
}

.footer-end-logo {
  margin-right: 202px;
}

.footer-end-description-top {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 8px;
}

.footer-end-description-bottom {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  opacity: .8;
}

.footer-end-description {
  margin-right: 250px;
}

.footer-end-contacts-number {
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  text-align: right;
}